<?xml version="1.0"?>

<connectionStrings>
	<add name="CaseNotesAvailabilityEntities" connectionString="metadata=res://*/CNAEntity.csdl|res://*/CNAEntity.ssdl|res://*/CNAEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WEBAPPDBDEV-L2;initial catalog=CaseNotesAvailability-Dev;persist security info=True;user id=Web_CaseNotesAvailabilityUser-Dev;password=QP0brYnrlmoNA3iruQUo;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>